**서비스 이탈예측 데이터**
===

Attention
===

데이터 설명 : 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)   
x_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv   
y_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv   
x_test : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv   
x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_test.csv   
데이터 출처 : https://www.kaggle.com/shubh0799/churn-modelling 에서 변형

**캐글 공유 코드 저장소**

본인만의 코드를 작성하고 upvote를 받아 broze medal을 획득 해보세요.

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")


display(x_train.head())
display(y_train.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

In [2]:
# 결측치 확인
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 609.4+ KB

In [3]:
# ✅ .unique() : 데이터의 고유값 출력 (Series 만 적용 가능)
# ✅ .nunique() : 데이터의 고유값 종류의 수 출력 (DataFrame, Series 모두 적용 가능)
x_train.nunique()

CustomerId         6499
Surname            2289
CreditScore         459
Geography             3
Gender                4
Age                  69
Tenure               11
Balance            4162
NumOfProducts         4
HasCrCard             2
IsActiveMember        2
EstimatedSalary    6499
dtype: int64

In [4]:
# 필요 없는 칼럼 삭제
drop_col = ['CustomerId', 'Surname']
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)

In [5]:
# pip install scikit_learn
import sklearn
print(sklearn.__all__) # 패키지 확인
import sklearn.model_selection
print(dir(sklearn.model_selection)) # model 종류 확인

['calibration', 'cluster', 'covariance', 'cross_decomposition', 'datasets', 'decomposition', 'dummy', 'ensemble', 'exceptions', 'experimental', 'externals', 'feature_extraction', 'feature_selection', 'gaussian_process', 'inspection', 'isotonic', 'kernel_approximation', 'kernel_ridge', 'linear_model', 'manifold', 'metrics', 'mixture', 'model_selection', 'multiclass', 'multioutput', 'naive_bayes', 'neighbors', 'neural_network', 'pipeline', 'preprocessing', 'random_projection', 'semi_supervised', 'svm', 'tree', 'discriminant_analysis', 'impute', 'compose', 'clone', 'get_config', 'set_config', 'config_context', 'show_versions']
['BaseCrossValidator', 'BaseShuffleSplit', 'GridSearchCV', 'GroupKFold', 'GroupShuffleSplit', 'KFold', 'LearningCurveDisplay', 'LeaveOneGroupOut', 'LeaveOneOut', 'LeavePGroupsOut', 'LeavePOut', 'ParameterGrid', 'ParameterSampler', 'PredefinedSplit', 'RandomizedSearchCV', 'RepeatedKFold', 'RepeatedStratifiedKFold', 'ShuffleSplit', 'StratifiedGroupKFold', 'StratifiedKFold', 'StratifiedShuffleSplit', 'TimeSeriesSplit', 'ValidationCurveDisplay', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_plot', '_search', '_split', '_validation', 'check_cv', 'cross_val_predict', 'cross_val_score', 'cross_validate', 'learning_curve', 'permutation_test_score', 'train_test_split', 'typing', 'validation_curve']

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# ✅ pd.get_dummies : 가변수 만들기
# object 형 변수를 수치형 데이터로 변환한 다음 수치화된 데이터를 가변수화하여 표현.
# 기계 학습에 적합한 데이터로 형태를 가공하기 위함.
x_train_dummies = pd.get_dummies(x_train_drop)

# 종속 변수 : Exited
y = y_train['Exited']

x_test_dummies = pd.get_dummies(x_test_drop)
# x_train 과 컬럼 순서 동일하게 (dummy화 하면서 순서대로 정렬을 하기 때문에 아래 행에서 오류가 난다면 해당 컬림이 누락된 것.)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

In [18]:
# print(help(train_test_split))

# 훈련 셋, 테스트 셋 준비
X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_dummies, y, test_size=0.33, random_state=42)

# 모델 학습.. (RandomForestClassfier 모델)
rf = RandomForestClassifier(random_state=23)
rf.fit(X_train, Y_train)

RandomForestClassifier(random_state=23)

In [28]:
# import sklearn.metrics
# print(dir(sklearn.metrics))

from sklearn.metrics import accuracy_score, f1_score, recall_score, roc_auc_score, precision_score

# model score
predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:, 1]

predict_validation_label = rf.predict(X_validation)
predict_validation_proba = rf.predict_proba(X_validation)[:, 1]

(array([0, 0, 0, ..., 1, 1, 0]),
 array([0.29, 0.44, 0.03, ..., 0.74, 0.78, 0.05]))

In [30]:
# 문제에서 묻는 것에 따라 모델 성능 확인
# 정확도(accuracy), f1_score, recall, precision → model.predict
# auc, 확률 → model.predict_proba 로 결과 도출 후 첫번째 행의 값을 가져옴
## model.predict_proba()[:, 1]

print('train accuracy : ', accuracy_score(Y_train, predict_train_label))
print('validation accuracy : ', accuracy_score(Y_validation, predict_validation_label))
print('\n')
print('train f1_score : ', f1_score(Y_train, predict_train_label))
print('validation f1_score : ', f1_score(Y_validation, predict_validation_label))
print('\n')
print('train recall_score : ', recall_score(Y_train, predict_train_label))
print('validation recall_score : ', recall_score(Y_validation, predict_validation_label))
print('\n')
print('train precision_score : ', precision_score(Y_train, predict_train_label)) 
print('validation precision_score : ', precision_score(Y_validation, predict_validation_label))
print('\n')
print('train auc : ', roc_auc_score(Y_train, predict_train_proba))
print('validation acu : ', roc_auc_score(Y_validation, predict_validation_proba))

train accuracy :  1.0
validation accuracy :  0.8652680652680653


train f1_score :  1.0
validation f1_score :  0.5912305516265912


train recall_score :  1.0
validation recall_score :  0.4543478260869565


train precision_score :  1.0
validation precision_score :  0.8461538461538461


train auc :  1.0
validation acu :  0.8497613211198555

In [31]:
# test 데이터도 마찬가지로 위와 같은 방식

predict_test_label = rf.predict(x_test_dummies)
predict_test_proba = rf.predict_proba(x_test_dummies)[:, 1]

In [36]:
# accuracy, f1_score, recall, precision
pd.DataFrame({'CustomerId': x_test.CustomerId, 'Exited': predict_test_label})
# pd.DataFrame({'CustomerId': x_test.CustomerId, 'Exited': predict_test_label}).to_csv('수험번호.csv', index=False)

# auc, 확률
pd.DataFrame({'CustomerId': x_test.CustomerId, 'Exited': predict_test_proba})
# pd.DataFrame({'CustomerId': x_test.CustomerId, 'Exited': predict_test_proba}).to_csv('수험번호.csv', index=False)

      CustomerId  Exited
0       15601012    0.93
1       15734762    0.83
2       15586757    0.10
3       15590888    0.20
4       15726087    0.25
...          ...     ...
3496    15733966    0.50
3497    15669994    0.16
3498    15712403    0.85
3499    15643819    0.07
3500    15644962    0.09

[3501 rows x 2 columns]