Attention
===

데이터 출처 :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(참고, 데이터 수정)   
데이터 설명 : 1930 ~2018년도 월드컵 출전선수 골기록   
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [36]:
import pandas as pd

dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv'
df = pd.read_csv(dataurl)
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

**Question 21**

주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라.

In [26]:
Ans = df[['Country', 'Goals']].groupby('Country').sum().sort_values('Goals', ascending=False).head(5)
Ans

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

**Question 22**

주어진 전체 기간 동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라.

In [33]:
Ans = df.groupby('Country').size().sort_values(ascending=False).head(5)
Ans

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [32]:
# My Answer
Ans = df.groupby('Country').agg('count').sort_values('Goals', ascending=False)['Player']
Ans.head(5)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

**Question 23**

Years 컬럼은 년도-년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라.

In [49]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        ## 타입 형변환 필수
        if len(str(value)) != 4:
            return False
        
    return True
    
df['check'] = df['yearLst'].apply(checkFour)

Ans = len(df[df.check==False])
Ans

45

In [48]:
# My Answer
def check_year(x):
    for year in x.split('-'):
        if len(year) != 4:
            return True
        else:
            return False

df['checkYear'] = df['Years'].apply(check_year)
len(df[df['checkYear']])

45

In [52]:
df2 = df[df.check==True]
Ans = len(df2)
Ans

1250

**Question 25**

월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라.

In [53]:
df2

,Player,Goals,Years,Country,checkYear,yearLst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,False,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,False,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,False,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,False,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,False,"[1958, 1962, 1966, 1970]",True
...,...,...,...,...,...,...,...
1290,Josip Skoblar,1,1962,Yugoslavia,False,[1962],True
1291,Safet Susic,1,1982-1990,Yugoslavia,False,"[1982, 1990]",True
1292,Aleksandar Tirnanic,1,1930,Yugoslavia,False,[1930],True
1293,Djordje Vujadinovic,1,1930,Yugoslavia,False,[1930],True
1294,Branko Zebec,1,1954-1958,Yugoslavia,False,"[1954, 1958]",True

In [57]:
df2['LenCup'] = df2['yearLst'].str.len()
Ans = df2['LenCup'].value_counts()[4]
Ans

/tmp/ipykernel_4005/2660399785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df2['yearLst'].str.len()

16

In [55]:
df2['LenCup'] = df['yearLst'].apply(lambda x: len(x))
Ans = len(df2[df2['LenCup'] == 4])
Ans

/tmp/ipykernel_4005/4207212156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df['yearLst'].apply(lambda x: len(x))

16

**Question 26**

Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라.

In [59]:
Ans = len(df2[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)])
Ans

7

**Question 27**

2002년도에 출전한 전체 선수는 몇명인가?

In [70]:
Ans = len(df2[df2.Years.str.contains('2002')])
Ans

156

In [69]:
# My Answer
Ans = len(df2[df2['yearLst'].apply(lambda x: '2002' in x)])
Ans

156

**Question 28**

이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [96]:
# ✅ .lower() / .upper() / casefold()
Ans = len(df2[df2.Player.str.lower().str.contains('carlos')])
Ans

13

In [76]:
# My Answer
Ans = len(df2[df2['Player'].apply(lambda x: 'carlos' in x.casefold())])

13

**Question 29**

월드컵 출전 횟수가 1회 뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [87]:
Ans = df2[df2.LenCup==1].sort_values('Goals', ascending=False).Player.values[0]
Ans

'Just Fontaine'

In [86]:
Ans = df2[df2['LenCup']==1].sort_values('Goals', ascending=False).reset_index(drop=True)['Player'][0]
Ans

'Just Fontaine'

**Question 30**

월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [95]:
Ans = df2[df2['LenCup']==1]['Country'].value_counts().index[0]
Ans

'Brazil'