In [1]:
import pandas as pd

- apply() : 데이터프레임(DataFrame)과 시리즈(Series)에 모두 적용 가능   
- map() : 시리즈(Series)에만 적용 가능   
- applymap() : 데이터프레임(DataFrame)에만 적용 가능

Attention
===

카드이용데이터 : https://www.kaggle.com/sakshigoyal7/credit-card-customers    
DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv’

**Question 56**

데이터를 로드하고 데이터 행과 열의 갯수를 출력하라.

In [21]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
df = pd.read_csv(DataUrl, index_col=0)

# ✅ .shape
Ans = df.shape
Ans

(10127, 18)

**Question 57**

Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라.   
   
Unknown : N   
Less than $40K : a   
$40K - $60K : b   
$60K - $80K : c   
$80K - $120K : d   
$120K +’ : e

In [22]:
dic = {
    'Unknown': 'N'
    ,'Less than $40K' : 'a'
    ,'$40K - $60K' : 'b'
    ,'$60K - $80K' : 'c'
    ,'$80K - $120K' : 'd'
    ,'$120K +' : 'e'
}

df['newIncome'] = df.Income_Category.map(lambda x: dic[x])
Ans = df['newIncome']
Ans.head(4)

0    c
1    a
2    d
3    a
Name: newIncome, dtype: object

In [4]:
# My Answer - ⚠️ ERROR
# map() 이 아닌 apply() 적용 시 실행 가능.
def mapping(df):
    if df['Income_Category'] == 'Unknown':
        return 'N'
    elif df['Income_Category'] == 'Less than $40K':
        return 'a'
    elif df['Income_Category'] == '$40K - $60K':
        return 'b'
    elif df['Income_Category'] == '$60K - $80K':
        return 'c'
    elif df['Income_Category'] == '$80K - $120K':
        return 'd'
    elif df['Income_Category'] == '$120K +':
        return 'e'
    
# Ans = df
# Ans['newIncome'] = Ans['Income_Category'].map(mapping, Ans)
# Ans.head(4)

**Question 58**

Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라.   
   
Unknown : N   
Less than $40K : a   
$40K - $60K : b   
$60K - $80K : c   
$80K - $120K : d   
$120K +’ : e

In [23]:
def changeCategory(x):
    if x == 'Unknown':
        return 'N'
    elif x == 'Less than $40K':
        return 'a'
    elif x == '$40K - $60K':
        return 'b'
    elif x == '$60K - $80K':
        return 'c'
    elif x == '$80K - $120K':
        return 'd'
    elif x == '$120K +':
        return 'e'
    
df['newIncome'] = df['Income_Category'].apply(changeCategory)
Ans = df['newIncome']
Ans.head(4)

0    c
1    a
2    d
3    a
Name: newIncome, dtype: object

**Question 59**

Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라. (0~9 : 0 , 10~19 :10 , 20~29 :20 …)    
각 구간의 빈도수를 출력하라.

In [24]:
df['AgeState'] = df.Customer_Age.map(lambda x: x//10 *10)
Ans = df['AgeState'].value_counts().sort_index()
Ans

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

In [19]:
# My Answer
def changeCategory2(x):
    if x >= 0 and x < 10:
        return 0
    elif x >= 10 and x < 20:
        return 10
    elif x >= 20 and x < 30:
        return 20
    elif x >= 30 and x < 40:
        return 30
    elif x >= 40 and x < 50:
        return 40
    elif x >= 50 and x < 60:
        return 50
    elif x >= 60 and x < 70:
        return 60
    elif x >= 70 and x < 80:
        return 70
    
df['AgeState'] = df['Customer_Age'].apply(changeCategory2)
Ans = df.groupby('AgeState').size()
Ans

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
dtype: int64

**Question 60**

Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라.

In [31]:
df['newEduLevel'] = df.Education_Level.map(lambda x: 1 if 'Graduate' in x else 0)
Ans = df['newEduLevel'].value_counts()
Ans

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

In [29]:
# My Answer
df['newEduLevel'] = df['Education_Level'].apply(lambda x: '1' if 'Graduate' in x else '0')
Ans = df['newEduLevel'].value_counts().sort_index()
Ans

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

**Question 61**

Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라.

In [32]:
df['newLimit'] = df.Credit_Limit.map(lambda x: 1 if x >= 4500 else 0)
Ans = df['newLimit'].value_counts()
Ans

newLimit
1    5096
0    5031
Name: count, dtype: int64

**Question 62**

Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. newState의 각 값들의 빈도수를 출력하라.

In [52]:
# ✅
def check(x):
    if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum':
        return 1
    else:
        return 0
df['newState'] = df.apply(check, axis=1)
Ans = df['newState'].value_counts()
Ans

newState
0    10120
1        7
Name: count, dtype: int64