In [1]:
import pandas as pd

Attention
===

주가 데이터 : https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data   
DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv’

In [2]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'
df = pd.read_csv(DataUrl)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

**Question 65**

Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하라.

In [4]:
# ✅ pd.to_datetime()
df.Yr_Mo_Dy = pd.to_datetime(df.Yr_Mo_Dy)
Ans = df.Yr_Mo_Dy
Ans.head(4)

0   2061-01-01
1   2061-01-02
2   2061-01-03
3   2061-01-04
Name: Yr_Mo_Dy, dtype: datetime64[ns]

**Question 66**

Yr_Mo_Dy에 존재하는 년도의 유일값을 모두 출력하라.

In [5]:
# ✅ Series.dt.year / Series.dt.month / Series.dt.day
Ans = df.Yr_Mo_Dy.dt.year.unique()
Ans

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978], dtype=int32)

In [6]:
# My Answer
# 결과 값이 다르므로 오답.
df.Yr_Mo_Dy.unique()

<DatetimeArray>
['2061-01-01 00:00:00', '2061-01-02 00:00:00', '2061-01-03 00:00:00',
 '2061-01-04 00:00:00', '2061-01-05 00:00:00', '2061-01-06 00:00:00',
 '2061-01-07 00:00:00', '2061-01-08 00:00:00', '2061-01-09 00:00:00',
 '2061-01-10 00:00:00',
 ...
 '1978-12-22 00:00:00', '1978-12-23 00:00:00', '1978-12-24 00:00:00',
 '1978-12-25 00:00:00', '1978-12-26 00:00:00', '1978-12-27 00:00:00',
 '1978-12-28 00:00:00', '1978-12-29 00:00:00', '1978-12-30 00:00:00',
 '1978-12-31 00:00:00']
Length: 6574, dtype: datetime64[ns]

**Question 67**

Yr_Mo_Dy에 년도가 2061년 이상의 경우에는 모두 잘못된 데이터이다. 해당경우의 값은 100을 빼서 새롭게 날짜를 Yr_Mo_Dy 컬럼에 정의하라.

In [7]:
# ✅ datetime.date()
def fix_century(x):
    import datetime

    year = x.year - 100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)
Ans = df.head(4)
Ans

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88

**Question 68**

년도별 각컬럼의 평균값을 구하여라.

In [8]:
# ✅ groupby 파라미터에 Series 가능?
Ans = df.groupby(df.Yr_Mo_Dy.dt.year).mean()
Ans.head(4)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1961,1961-07-02 00:00:00,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,1962-07-02 00:00:00,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,1963-07-02 00:00:00,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,1964-07-01 12:00:00,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301

In [9]:
# My Answer
# 결과 값이 다르므로 오답.
# df.groupby('Yr_Mo_Dy').mean()

**Question 69**

weekday 컬럼을 만들고 요일별로 매핑하라. (월요일 : 0 ~ 일요일 : 6)

In [10]:
# ✅ Series.dt.weekday : 해당하는 날짜의 요일을 0~6 사이 숫자로 mapping
df['weekday'] = df.Yr_Mo_Dy.dt.weekday
Ans = df['weekday'].head(3).to_frame()
Ans

   weekday
0        6
1        0
2        1

**Question 70**

weekday컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만들어라.

In [11]:
df['WeekCheck'] = df['weekday'].map(lambda x: 1 if x in [5, 6] else 0)
Ans = df['WeekCheck'].head(3).to_frame()
Ans

   WeekCheck
0          1
1          0
2          0

In [12]:
# My Answer
df['WeekCheck'] = df['weekday'].apply(lambda x: 1 if x >= 5 else 0)
Ans = df['WeekCheck'].head(3).to_frame()
Ans

   WeekCheck
0          1
1          0
2          0

**Question 71**

년도, 일자 상관없이 모든 컬럼의 각 달의 평균을 구하여라.

In [13]:
Ans = df.groupby(df.Yr_Mo_Dy.dt.month).mean()
Ans.head(4)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,,
1,1969-07-17 06:40:00.000000000,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,2.989247,0.284946
2,1969-08-17 07:50:33.070866142,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,3.005906,0.287402
3,1969-09-14 12:00:00.000000000,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,3.000000,0.283154
4,1969-10-15 00:00:00.000000000,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,3.011111,0.288889

**Question 72**

모든 결측치는 컬럼기준 직전의 값으로 대체하고 첫번째 행에 결측치가 있을경우 뒤에있는 값으로 대체하라.

In [14]:
# ✅ .fillna(method=('ffill'|'bfill'))
df = df.fillna(method='ffill').fillna(method='bfill')

# UPDATE
df = df.ffill().bfill()
df.isnull().sum()

/tmp/ipykernel_7302/3425017941.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill').fillna(method='bfill')

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64

**Question 73**

년도 - 월을 기준으로 모든 컬럼의 평균값을 구하여라.

In [15]:
# ✅ Series.dt.to_period()
Ans = df.groupby(df.Yr_Mo_Dy.dt.to_period('M')).mean()
Ans.head(3)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,,
1961-01,1961-01-16 00:00:00,14.932581,12.084194,13.431613,7.736774,11.215806,8.588065,11.184839,9.270968,9.085806,10.107419,13.880968,14.703226,2.935484,0.290323
1961-02,1961-02-14 12:00:00,16.269286,14.975357,14.324643,9.116786,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786,3.000000,0.285714
1961-03,1961-03-16 00:00:00,11.015806,11.296452,10.752903,7.137742,10.509355,8.866774,9.644194,9.829677,10.646129,11.251935,16.410968,15.637742,3.000000,0.258065

**Question 74**

RPT 컬럼의 값을 일자별 기준으로 1차 차분하라.

✅ 1차 차분 (시계열 용어)

In [16]:
# ✅ .diff() : 1차 차분

Ans = df['RPT'].diff()
Ans.head(3)

0     NaN
1   -0.33
2    3.79
Name: RPT, dtype: float64

**Question 75**

RPT와 VAL의 컬럼을 일주일 간격으로 각각 이동평균한 값을 구하여라.

✅ 이동평균

In [17]:
# ✅ .rolling() : 이동평균
Ans = df[['RPT', 'VAL']].rolling(7).mean()
Ans.head(9)

         RPT        VAL
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
5        NaN        NaN
6  14.124286  12.727143
7  13.541429  11.982857
8  13.237143  11.392857